# Risky Business

Harold has been boasting about his recent cryptocurrency returns. He's even bet you five bucks that his trading algorithm has made his returns better than yours. Calculate the standard deviation and sharpe ratio for each your portfolios to determine which portfolio is the better investment based off of the greatest risk to reward ratio.

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

### Read in data

In [3]:
harold_portfolio_path = Path("../../Resources/harold_portfolio.csv")
my_portfolio_path = Path("../../Resources/my_portfolio.csv")

# Read in data
harold_portfolio = pd.read_csv(harold_portfolio_path, parse_dates=True, infer_datetime_format=True)
my_portfolio = pd.read_csv(my_portfolio_path, parse_dates=True, infer_datetime_format=True)

# Drop na
harold_portfolio = harold_portfolio.dropna()
my_portfolio = my_portfolio.dropna()

# Set Date as index
harold_portfolio = harold_portfolio.set_index('Date')
my_portfolio = my_portfolio.set_index('Date')

harold_portfolio.head()

,BTC,BTT,DOGE,ETH,LTC,XRP,SOLVE,XLM,TRON,ZIL
Date,,,,,,,,,,
2019-05-20,8118.39,0.001187,0.003041,261.09,95.06,0.398003,0.338667,0.135545,0.028509,0.017992
2019-05-19,8200.00,0.001056,0.003178,234.03,86.65,0.417700,0.300430,0.141485,0.029277,0.019170
2019-05-18,7262.40,0.000993,0.003005,244.59,89.88,0.372736,0.287630,0.128833,0.026823,0.017685
2019-05-17,7363.69,0.000957,0.002962,264.39,95.75,0.386193,0.259506,0.126562,0.027220,0.017892
2019-05-16,7878.96,0.000885,0.003168,249.00,102.26,0.419707,0.223316,0.137283,0.028857,0.018725

### Calculate daily returns

In [4]:
daily_returns_hp = (harold_portfolio - harold_portfolio.shift(1)) / harold_portfolio.shift(1)
daily_returns_hp.head()

,BTC,BTT,DOGE,ETH,LTC,XRP,SOLVE,XLM,TRON,ZIL
Date,,,,,,,,,,
2019-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-19,0.010052,-0.110362,0.045051,-0.103642,-0.088470,0.049490,-0.112904,0.043823,0.026939,0.065474
2019-05-18,-0.114341,-0.059659,-0.054437,0.045122,0.037276,-0.107647,-0.042606,-0.089423,-0.083820,-0.077465
2019-05-17,0.013947,-0.036254,-0.014309,0.080952,0.065309,0.036103,-0.097778,-0.017627,0.014801,0.011705
2019-05-16,0.069974,-0.075235,0.069548,-0.058209,0.067990,0.086780,-0.139457,0.084709,0.060140,0.046557

### `Concat` portfolios into one DataFrame

In [6]:
joined_portfolios = pd.concat([harold_portfolio, my_portfolio], axis="rows", join="inner")
joined_portfolios

                BTC      DOGE     ETH     LTC       XRP       XLM
Date
2019-05-20  8118.39  0.003041  261.09   95.06  0.398003  0.135545
2019-05-19  8200.00  0.003178  234.03   86.65  0.417700  0.141485
2019-05-18  7262.40  0.003005  244.59   89.88  0.372736  0.128833
2019-05-17  7363.69  0.002962  264.39   95.75  0.386193  0.126562
2019-05-16  7878.96  0.003168  249.00  102.26  0.419707  0.137283
...             ...       ...     ...     ...       ...       ...
2016-08-28   570.42  0.000230   11.21    3.78  0.005869  0.002020
2016-08-27   578.89  0.000228   11.29    3.81  0.005902  0.001931
2016-08-26   576.16  0.000242   11.34    3.81  0.005892  0.001925
2016-08-25   578.92  0.000241   11.00    3.84  0.005912  0.001925
2016-08-24   582.58  0.000236   10.98    3.95  0.005932  0.001912

[994 rows x 6 columns]

In [8]:
daily_returns = joined_portfolios.pct_change()
daily_returns.head()

                 BTC      DOGE       ETH       LTC       XRP       XLM
Date
2019-05-20       NaN       NaN       NaN       NaN       NaN       NaN
2019-05-19  0.010052  0.045051 -0.103642 -0.088470  0.049490  0.043823
2019-05-18 -0.114341 -0.054437  0.045122  0.037276 -0.107647 -0.089423
2019-05-17  0.013947 -0.014309  0.080952  0.065309  0.036103 -0.017627
2019-05-16  0.069974  0.069548 -0.058209  0.067990  0.086780  0.084709

### Calculate `std dev` for all data

In [9]:
daily_std = daily_returns.std()
daily_std.head()

BTC     0.042487
DOGE    0.070386
ETH     0.059537
LTC     0.062772
XRP     0.077518
dtype: float64

### Calculate `sharpe ratio` for all data

In [10]:
sharpe_ratios = ((joined_portfolios.mean()-joined_portfolios['rf_rate'].mean()) * 252) / (joined_portfolios.std() * np.sqrt(252))
sharpe_ratios

KeyError: 'rf_rate'

### Plot Sharpe Ratios

### How many smart investments did Harold make compared to risky investments? How many did you make?

### Which cryptos have been the smartest investment?