In [3]:
from pathlib import Path
import csv

In [4]:
filepath = Path("../Resources/accounting.csv")

In [14]:
salary = []

In [6]:
with open(filepath,"r") as file:
    text = file.read()
    print(text)

First Name,Last Name,SSN,Salary
Tina,Fleming,619-16-7988,75000
Erica,Shah,164-51-7615,40000
Paula,Ortiz,051-83-3290,120000
James,Hendricks,776-83-2884,90000
Lauren,King,197-94-2398,60000
David,Cowan,252-92-1832,35000
Andrew,Burton,296-23-6842,150000
Julian,Baker,337-40-7543,75000
Scott,Castro,399-46-5595,50000
Billy,Rodriguez,014-18-2503,65000
Darrell,Leblanc,005-82-7918,40000
David,Hammond,561-17-6312,90000

In [7]:
with open(filepath,"r") as file:
    print(type(file))

<class '_io.TextIOWrapper'>

In [9]:
with open(filepath,"r") as file:
    csvreader = csv.reader(file,delimiter=",")
    header = next(csvreader)
    print(header)
    print('---------------------------------------------')
    for row in csvreader:
        print(row)

['First Name', 'Last Name', 'SSN', 'Salary']
---------------------------------------------
['Tina', 'Fleming', '619-16-7988', '75000']
['Erica', 'Shah', '164-51-7615', '40000']
['Paula', 'Ortiz', '051-83-3290', '120000']
['James', 'Hendricks', '776-83-2884', '90000']
['Lauren', 'King', '197-94-2398', '60000']
['David', 'Cowan', '252-92-1832', '35000']
['Andrew', 'Burton', '296-23-6842', '150000']
['Julian', 'Baker', '337-40-7543', '75000']
['Scott', 'Castro', '399-46-5595', '50000']
['Billy', 'Rodriguez', '014-18-2503', '65000']
['Darrell', 'Leblanc', '005-82-7918', '40000']
['David', 'Hammond', '561-17-6312', '90000']

In [16]:
with open(filepath,"r") as file:
    csvreader = csv.reader(file,delimiter=",")
    header = next(csvreader)
    print(header)
    print('---------------------------')
    for row in csvreader:
        print(row[3])
        salary.append(row[3])

['First Name', 'Last Name', 'SSN', 'Salary']
---------------------------
75000
40000
120000
90000
60000
35000
150000
75000
50000
65000
40000
90000

In [10]:
with open(filepath,"r") as file:
    csvreader = csv.reader(file,delimiter=",")
    header = next(csvreader)
    print(header)
    print('------------------------------------------')
    for row in csvreader:
        print(row)

['First Name', 'Last Name', 'SSN', 'Salary']
------------------------------------------
['Tina', 'Fleming', '619-16-7988', '75000']
['Erica', 'Shah', '164-51-7615', '40000']
['Paula', 'Ortiz', '051-83-3290', '120000']
['James', 'Hendricks', '776-83-2884', '90000']
['Lauren', 'King', '197-94-2398', '60000']
['David', 'Cowan', '252-92-1832', '35000']
['Andrew', 'Burton', '296-23-6842', '150000']
['Julian', 'Baker', '337-40-7543', '75000']
['Scott', 'Castro', '399-46-5595', '50000']
['Billy', 'Rodriguez', '014-18-2503', '65000']
['Darrell', 'Leblanc', '005-82-7918', '40000']
['David', 'Hammond', '561-17-6312', '90000']

In [19]:
with open(filepath,"r") as file:
    csvreader = csv.reader(file,delimiter=",")
    header = next(csvreader)
    print(header)
    print('------------------------------------------')
    for row in csvreader:
        print(row[3])
        salary.append(int(row[3]))

['First Name', 'Last Name', 'SSN', 'Salary']
------------------------------------------
75000
40000
120000
90000
60000
35000
150000
75000
50000
65000
40000
90000

In [20]:
print(salary)

['75000', '40000', '120000', '90000', '60000', '35000', '150000', '75000', '50000', '65000', '40000', '90000', '75000', '40000', '120000', '90000', '60000', '35000', '150000', '75000', '50000', '65000', '40000', '90000', 75000, 40000, 120000, 90000, 60000, 35000, 150000, 75000, 50000, 65000, 40000, 90000]

In [25]:
max_salary = 0
min_salary = 0
avg_salary = 0
total_salary = 0
count_salary = 0

In [32]:
# Calculate the max, mean, and average of the list of salaries

for salary in salary:
    total_salary += int(salary)
    count_salary += 1
    
    if min_salary == 0:
        min_salary = salary
    elif salary > max_salary:
        max_salary = salary
    elif salary < min_salary:
        min_salary = salary

In [38]:
average_salary = round(total_salary/count_salary,2)
print(average_salary)

7.0